@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Define font styles for headings and paragraphs */
h1,
h2 {
  font-family: 'Anton', sans-serif;
  font-weight: 400;
  color: #F2F5FF;
}

p,
span,
h3,
li {
  font-family: 'Roboto', sans-serif;
}

li {
  font-size: 16px;
  color: #F2F5FF;
}

h3 {
  font-size: 24px;
  color: #F2F5FF;
  font-weight: 700;
}

p {
  color: #F2F5FF;
  font-size: 18px;
  font-weight: 400;
}

h3 {
  font-weight: 700;
}

h2 {
  font-size: 36px;
}

h1 {
  font-size: 48px;
  color: #F2F5FF;
}

li {
  font-weight: 400;
}